@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap);@import url(https://fonts.googleapis.com/css?family=Merriweather&display=swap);html {
  height: 100%;
}

body {
  color: #102C2C;
  background-color: #F4D1AE;
  height: 100%;
  overflow: hidden;
  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px;
  /*removes default style*/
  display: -webkit-box;
  display: flex;
  /*enables flex content for its children*/
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:active,
a:visited {
  color: #0C3134;
  text-decoration: none;
}

a:hover {
  color: #B77357;
  text-decoration: none;
}

.column {
  height: 100%;
  /*allows both columns to span the full height of the browser window*/
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /*places the left and right headers above the bottom content*/
}

#left {
  flex-shrink: 0;
  /*makes sure that content is not cut off in a smaller browser window*/
}

.top-left {
  flex-shrink: 0;
}

.top-right {
  flex-shrink: 0;
  display: -webkit-inline-box;
  display: inline-flex;
}

ul {
  display: -webkit-inline-box;
  display: inline-flex;
  list-style: none;
}

.bottom {
  -webkit-box-flex: 1;
          flex-grow: 1;
  /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto;
  /*adds scroll to this container*/
}

.sidebar {
  background-color: #0C3134;
  background-image: url("/img/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 30%;
  min-width: 400px;
  color: #fff;
}

.sidebar-content {
  padding: 2em;
  text-align: center;
}

.column-with-padding {
  padding: 2em;
}

h1 {
  margin-top: 0px;
  font-size: 3em;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  line-height: 1.2em;
  color: #F4D1AE;
}

h1 span.smaller {
  font-size: 0.9em;
}

h1 span.larger {
  font-size: 1.4em;
  line-height: 1.1em;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

.sidebar-content h2 {
  font-family: "Merriweather", serif;
  width: 100%;
  font-size: 1em;
  text-transform: none;
  color: #F4D1AE;
}

.sidebar-content h2.withline {
  overflow: hidden;
  text-align: center;
}

.sidebar-content h2.withline:before,
.sidebar-content h2.withline:after {
  background-color: #F4D1AE;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.sidebar-content h2.withline:before {
  right: 0.5em;
  margin-left: -50%;
}

.sidebar-content h2.withline:after {
  left: 0.5em;
  margin-right: -50%;
}

ul.mainmenu {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0px auto;
  padding: 0px;
}

ul.mainmenu li {
  display: inline-block;
  margin: .5em;
}

ul.mainmenu li a {
  color: #F4D1AE;
  text-decoration: none;
}

ul.mainmenu li a:hover {
  color: #B77357;
  text-decoration: none;
}

#wordcount {
  margin: 0px auto;
  text-align: center;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.word {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 .5em 0 0;
  font-size: 1em;
  line-height: 1em;
  flex-wrap: wrap;
  vertical-align: middle;
}

.word a {
  vertical-align: middle;
}

ul.storytags {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0px auto;
  padding: 0px;
}

ul.storytags li {
  display: inline-block;
  margin: 0 .5em 0 0;
}

ul.storytags li.main:first-of-type {
  display: inline-block;
  margin: 0 .5em 0 0;
}

ul.storytags li.main {
  display: inline-block;
  margin: 0 .5em 0 1em;
}

ul.storytags li.main {
  font-weight: 900;
}

.story_listing .content {
  margin-bottom: 40px;
}

.story_listing p {
  font-size: 1.4em;
  line-height: 1.2em;
  margin-top: .25em;
}

.singlestory {
  font-size: 1.25em;
  padding-bottom: 100px;
}

.singlestory p:first-of-type {
  font-size: 1.4em;
  text-indent: 0;
}

.singlestory p:first-of-type:first-letter {
  float: left;
  font-size: 1.75em;
  line-height: 1;
  font-weight: bold;
  margin-right: 5px;
}

.sans-serif-text {
  font-family: "Oswald", sans-serif;
}

